//修改导航栏，二级选中和字体、边距
.el-submenu .el-menu-item {
    font-size:14px;
    padding-left: 59px !important;
    &.is-active{color: skyblue !important;}
}
//修改一级菜单栏
li.el-submenu {
    &.is-active.is-opened .el-submenu__title{ background-color: $mainColor !important;}
}
.el-menu {
    border: none;
}

//导航栏收起的时候经过导航栏样式的改变
.close {
    .el-submenu {
        &.is-opened {
            > .el-submenu__title {
                background-color: $mainColor !important;
            }
        }
    }
}
.el-menu--vertical {
    .el-menu { background-color: #515661 !important; }
    .el-menu-item { line-height: 56px; }
    .el-menu-item:hover {
        background-color: $mainColor !important;
    }
}

// 用户列表--表单table样式
div.el-table {
    td, th { text-align: center; }
    th {
        font-weight: bold;
        color: #344a5f;
    }
    td { font-size: 14px; }
}
.el-table-column--selection .cell{
    padding-right: 9px;
}