//修改导航栏，二级选中和字体、边距
.el-submenu .el-menu-item {
    font-size:14px;
    padding-left: 59px !important;
    &.is-active{color: skyblue !important;}
}
//修改一级菜单栏
li.el-submenu {
    &.is-active.is-opened .el-submenu__title{ background-color: $mainColor !important;}
}
.el-menu {
    border: none;
}