@import "./config.scss";
@import "./svg.scss";
@import "./elementui.scss";
@import "./normalize.scss";


.pull-left{ float: left;}
.pull-right{ float: right;}

// 偏移边距
@for $i from 1 through 110 {
    .margin-left-#{$i} { margin-left:(1px * $i); }
}